<div class="mainLogo"><span>D n D</span></div>
<ul class="mainNav">
  <li><a href="/main">Home</a></li>
  <ul style="margin-right: 30px;">Contract
    <li><a href="/contract/list">View contract</a></li>
    <li><a href="/contract">Write contract</a></li>
  </ul>
  <ul style="margin-right: 30px;"><a href="/payment">Payment</a>
    <li><a href="/payment/list">View list</a></li>
    <li><a href="/payment/apply_list">Request & Confirm</a></li>
  </ul>
</ul>