<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ("../reference/head2.ejs") %>
    <title>D&D project confirm request payment</title>
  </head>
  <body>
    <!--main section-->
    <section id="main">
      <!--main header -->
      <header>
        <%- include ("../reference/menu.ejs") %>
        <script>
            function reject() {
            document.getElementById("reject").style.display="flex";
        }
           function cancel_reject() {
            document.getElementById("reject").style.display="none";
            document.getElementById("cancel_reject").value="";
        }
        </script>
      </header>
      <!--end main header -->
      <div class="main container">
        <div class="payBlackboard">
          <div class="writeTitle">
            <span>Payment list</span>
            <p id="payTitle">Payment</p>
          </div>
          <div class="content">
            <table>
              <tr>
                <th>#</th>
                <th>회사명</th>
                <th>계약 담당자</th>
                <th>계약일</th>
                <th>계약금</th>
              </tr>
              <tr>
                <!-- 첫번째 줄 시작 -->
                <td>1</td>
                <td>삼성중공업</td>
                <td>김승빈</td>
                <td>2020.09.24</td>
                <td>300,000,000 원</td>
              </tr>
              <!-- 두번째 줄 끝 -->
            </table>
          </div>
          <!--form 추가-->
          <div class="reject" id="reject">
            <textarea id="cancel_reject"
              cols="150"
              rows="20"
              placeholder="반려 사유를 작성해주세요."
            ></textarea>

            <button>반려</button>
            <button class="btn2" onclick="cancel_reject();">취소</button>
          </div>
          <div class="requestText">
            <textarea cols="98px;" rows="9px" style="z-index: -1" readonly>
<!--특별 예외금 신청 내역이 여기에 나와야 됩니다.-->
              </textarea
            >
          </div>
          <div class="twoBtn">
            <button>요청 승인</button>
            <button class="btn2" onclick="reject();">반려</button>
          </div>
          <!--form 추가 끝-->
        </div>
      </div>
    </section>
  </body>
</html>
