<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ("../reference/head2.ejs") %>
    <title>D&D project main</title>
  </head>
  <body>
    <!--main section-->
    <section id="main">
      <!--main header (로그인 전 화면이랑 ejs 따로 저장.) -->
      <header>
        <%- include ("../reference/menu.ejs") %>
      </header>
      <!--end main header -->
      <div class="main container">
        <div class="paymentCompany">
            <h1>View contract for H</h1>
            <div class="payBlackboard">
                <h2>Company list</h2>
                <div class=content>
                        <table>

                          <tr>
                            <th>#</th>
                            <th>원도급 회사명</th>
                            <th>계약 담당자</th>
                            <th>계약일</th>
                            <th>계약금</th>
                          </tr>
                            <tr onclick="href.location='confirm_contract'">  <!--confirm contract.ejs 와 연결-->
                            <!-- 첫번째 줄 시작 -->
                             <td>1</td>
                             <td>삼성중공업</td>
                             <td>김승빈</td>
                             <td>2020.09.24</td>
                             <td>300,000,000 원</td>
                            </tr><!-- 두번째 줄 끝 -->
                            <tr>
                            <td>2</td>
                             <td>보광체인코팅</td>
                             <td>김승빈</td>
                             <td>2020.07.24</td>
                             <td>100,000,000 원</td>
                            </tr>
                        </table>
                    </div>
                 </div>
            </body>
        </body>
        </div>
        </div>
        </div>  
      </div>
    </section>
    <!--end main section-->
  </body>
</html>
